.reservas__container {
    display: grid;
    box-shadow: 0 0 15px 5px rgba(20, 28, 37, 0.1);
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5%;
    padding-bottom: 20px;
}

.primeiraCol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.segundaCol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carrossel {
    width: 30vw;
    height: 40vh;
}

.card-img {
    width: 30vw;
}

.menu {
    margin-bottom: 2%;
}