footer {
    border-top: 3px solid #172121 ;
    background-color:#444554 ;
    height: 7vh;
    align-items: center;
    position: relative;
}

.footerCont{
    position: absolute;  
}


.Icones {
    
    height: 15px;
    align-content: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
}


footer .btn:hover{
    background-color: #86836D;
    border-color: #86836D;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 15px 5px rgba(20, 28, 37, 0.5);
    padding: 1px;
    justify-content: center;
    align-items: center;
}


footer .btn{
    background-color: white ;
    border-color: white;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 15px 5px rgba(20, 28, 37, 0.5);
    padding: 1px;
    justify-content: center;
    align-items: center;
}

footer .btn.btnWhats{
    background-color: white ;
    border-color: white;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 15px 5px rgba(20, 28, 37, 0.5);
    padding: 1px;
    justify-content: center;
    align-items: center;
}

footer .btn.btnWhats:hover{
    background-color: #86836D ;
    border-color: #86836D;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 15px 5px rgba(20, 28, 37, 0.5);
    padding: 1px;
    justify-content: center;
    align-items: center;
}


.centraliza {
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.Sociais{
     display: flex;
    
    align-items: center;
    justify-content: center;
    margin-right: 1000px;
}



.IconesWhats {
    
    height: 35px;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 2px;
    text-decoration: none;
}

